<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <h3>Login</h3>
  </div>
</div>
<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Correo electrónico</mat-label>
      <input matInput placeholder="name@domain.com" value="">
    </mat-form-field>
  </div>
</div>
<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password">
    </mat-form-field>
  </div>
</div>
<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <button mat-stroked-button type="button" color="primary">Entrar</button>
  </div>
</div>
