<h2 *ngIf="randomMeal" mat-dialog-title>{{randomMeal.strMeal}}</h2>
<mat-dialog-content class="mat-typography" *ngIf="randomMeal">
  <div class="columns">
    <div class="column">
      <h3>Instructions</h3>
      <p>{{randomMeal.strInstructions}}</p>

      <h3>Category</h3>
      <p>{{randomMeal.strCategory}}</p>

      <h3>Area</h3>
      <p>{{randomMeal.strArea}}</p>
    </div>
    <div class="column">
      <figure class="image is-256x256">
        <img
          src="{{randomMeal.strMealThumb}}"
          alt="image"
        >
      </figure>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="randomMeal">
  <div class="buttons">
    <button mat-button mat-dialog-close color="primary">Cerrar</button>
    <button mat-button mat-dialog-close color="warn" cdkFocusInitial [routerLink]="['/dishes/' + randomMeal.idMeal]">Detalles</button>
  </div>
</mat-dialog-actions>
