<section class="example-section">
  <mat-checkbox class="example-margin" (change)="toggleIds()" [checked]="displayIds">
    Mostrar ID's
  </mat-checkbox>
</section>
<div class="columns is-multiline is-mobile">
  <div class="column is-one-quarter" *ngFor="let item of dishesList;">
    <div class="columns">
      <div class="column">
        <h3>{{item.strMeal}}</h3>
        <p *ngIf="displayIds" class="small-text">ID: {{item.idMeal}}</p>
        <p class="category-label">Category: {{item.strCategory}}</p>
        <button
          class="button"
          type="button"
          mat-raised-button
          color="accent"
          [routerLink]="['/dishes/' + item.idMeal]"
        >Ver detalles</button>
      </div>
      <div class="column">
        <figure class="image is-64x64px">
          <img src="{{item.strMealThumb}}" alt="image">
        </figure>
      </div>
    </div>
  </div>
</div>
